<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <link rel="icon" type="image/png" href="imagens/favicon.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <script> 
    window.chtlConfig = { chatbotId: "8198551521" }; 
  </script>
  <script async data-id="8198551521" id="chatling-embed-script" type="text/javascript" 
        src="https://chatling.ai/js/embed.js">
  </script>

  <body>
      <div id="header">
        <nav>
          <ul>
            <li class="fork"><a href="/projetos.html">Projetos de IA</a></li>
            <li class="downloads"><a href="/downloads/AnyDesk.exe">ANYDESK</a></li>
            <li class="downloads"><a href="/downloads/OfficeSetup.exe">OFFICE</a></li>
            <li class="downloads"><a href="/downloads/Ninite AnyDesk Chrome Firefox WinRAR Installer.exe">NINITE</a></li>
            <li class="downloads"><a href="/downloads/ativador 2025.ps1">SCRIPT</a></li>
            <li class="downloads"><a href="/downloads/wireguard.exe">WIREGUARD</a></li>
            <li class="title">DOWNLOADS</li>
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left"><a href="{{ site.github.owner_url }}">Marcos</a> Desenvolvedor</span>
          <span class="credits right"> Google <a href="https://search.google.com/search-console?resource_id=https%3A%2F%2Fmarcosantoniorapado.github.io%2F" target="_blank">adm</a></span>
          <span class="credits right">Inteligência  <a href="https://app.chatling.ai/projects/7173561396/settings/billing/usage" target="_blank">ia&nbsp;</a></span>
        </div>

        {{ content }}

      </section>
    </div>
  </body>
</html>
